* {
    background: #212121;
    text-align: center;
    font-family: "Times New Roman", sans-serif;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#heading {
    color: whitesmoke;
    margin: 10px;
    font-size: 30px;
    font-weight: bolder;
}

#properties {
    margin: 10px;
}

p {
    color: whitesmoke;
    font-size: 20px;
}

label,input {
    color: whitesmoke;
    font-size: 20px;
    width: 150px;
}

button {
    width: 98px;
    font-size: 20px;
    color: whitesmoke;
}

#color {
    width: 112px;
}

